src/main/mule/mule-advanced-reports.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:secure-properties="http://www.mulesoft.org/schema/mule/secure-properties" xmlns:os="http://www.mulesoft.org/schema/mule/os"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:spring="http://www.mulesoft.org/schema/mule/spring" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/spring http://www.mulesoft.org/schema/mule/spring/current/mule-spring.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/secure-properties http://www.mulesoft.org/schema/mule/secure-properties/current/mule-secure-properties.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="f0476c6a-242f-47d7-ad8e-cc873a360d3c" >
		<http:listener-connection host="0.0.0.0" port="${http.private.port}" />
	</http:listener-config>
	<http:request-config name="Anypoint_HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="d6d09ae6-2461-4c3f-9872-6c8d5cb22b07" enableCookies="false">
		<http:request-connection protocol="HTTPS" host="anypoint.mulesoft.com" port="443"/>
	</http:request-config>
	<secure-properties:config name="Secure_Properties_Config" doc:name="Secure Properties Config" doc:id="734a5769-8a88-4434-a225-2c1bf412f7f9" file="dev.yaml" key="${env.key}" >
		<secure-properties:encrypt algorithm="Blowfish" />
	</secure-properties:config>
	<configuration-properties doc:name="Configuration properties" doc:id="9c8de1ec-809d-465d-8b2c-491af5e78e6e" file="dev.yaml" />
	<flow name="mule-advanced-reportsFlow" doc:id="b44162fd-0719-4533-95a0-2741737a4c6f">
		<http:listener doc:name="Listener" doc:id="1e84a2a8-5235-4794-9945-610e2b5ffb29" config-ref="HTTP_Listener_config" path="/home" />
		<flow-ref doc:name="get-essential-details" doc:id="8aefb49e-a158-482d-9c88-4ff0c57ad526" name="get-essential-details-flow" />
		<flow-ref doc:name="get vcores-update-flow" doc:id="06cb85bd-f6cb-4d2e-b002-afd550345bcd" name="update-vcores-flow" target="vCoreDetails" />
		<choice doc:name="Choice" doc:id="3168ef3c-2d71-441e-8d34-be6f19be35e2">
			<when expression="#[payload != null and not (isEmpty(payload))]">
				<ee:transform doc:name="Transform Message" doc:id="e467aed5-c440-40a5-ae86-9d86e9172a2b">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="_environment"><![CDATA[%dw 2.0
output application/json
---
payload.fEnv]]></ee:set-variable>
						<ee:set-variable variableName="_BG"><![CDATA[%dw 2.0
output application/json
---
payload.fBG]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<ee:transform doc:name="Transform Message" doc:id="6a67b960-7772-46dc-87bc-d6b9390629bb">
					<ee:message>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="orgId" ><![CDATA[%dw 2.0
output application/java
---
vars.vCoreDetails.BG[?($.BG_Name == payload.fBG)][0].orgId default vars.orgId]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<http:request method="GET" doc:name="get environments" doc:id="93f72f65-71e6-48bb-a054-ac07fd2c96f3" config-ref="Anypoint_HTTP_Request_configuration" path='#["/accounts/api/organizations/" ++ vars.orgId ++ "/environments"]' target="environments">
					<http:headers><![CDATA[#[output application/java
---
{
	Authorization  : vars.AuthorizationToken
}]]]></http:headers>
				</http:request>
				<ee:transform doc:name="set environments" doc:id="85196d33-903b-468f-9bbc-86fef2448ccb">
					<ee:message>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="currentValues"><![CDATA[%dw 2.0
output application/json
---
{
	envId : vars.environments.data[?($.name == payload.fEnv)][0].id,
	orgId: vars.vCoreDetails.BG[?($.BG_Name == payload.fBG)][0].orgId default vars.orgId
	
}]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<http:request method="GET" doc:name="get applications" doc:id="37458b5d-faa1-442e-aa0e-456fd7462b8e" config-ref="Anypoint_HTTP_Request_configuration" path="/armui/api/v1/applications" target="applications">
					<http:headers><![CDATA[#[output application/java
---
{
	"X-ANYPNT-ORG-ID" : vars.currentValues.orgId,
	"X-ANYPNT-ENV-ID":	vars.currentValues.envId,
	"Authorization": vars.AuthorizationToken
}]]]></http:headers>
				</http:request>
				<parallel-foreach doc:name="Parallel For Each" doc:id="13f847b0-7e06-4173-8fd2-acda18377478" collection="#[vars.applications.data]" maxConcurrency="4">
					<http:request method="GET" doc:name="get each Application Details" doc:id="28b5d8f4-7bee-4e7c-8665-bd68c5657761" config-ref="Anypoint_HTTP_Request_configuration" path='#["cloudhub/api/v2/applications/" ++ payload.id]' responseTimeout="120000">
						<http:headers><![CDATA[#[output application/java
---
{
	"Authorization" :  vars.AuthorizationToken,
	"X-ANYPNT-ORG-ID": vars.currentValues.orgId,
	"X-ANYPNT-ENV-ID": vars.currentValues.envId
}]]]></http:headers>
					</http:request>
				</parallel-foreach>
				<ee:transform doc:name="Collect the parallel foreach results" doc:id="3c19a208-c07d-490c-a457-dbe12592f8d0">
					<ee:message />
					<ee:variables>
						<ee:set-variable variableName="appDetails"><![CDATA[%dw 2.0
output application/json
---
payload.payload map 
{
    "applicationName": $.fullDomain,
    "memory": $.workers[0].memory,
    "cpu": $.workers[0].cpu,
    "noofworkers" : $.workers.amount,
    "remainingOrgWorkers" : $.workers.remainingOrgWorkers,
    "muleVersion": $.muleVersion.version,
    "region" : $.region,
	"staticIPsEnabled": flatten (($.workerStatuses[?($.staticIPEnabled == true)].host) default []) joinBy  ','
} default []]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<flow-ref doc:name="get-App-Usage-flow" doc:id="9a75b545-6d97-4e7d-b145-bb64d8330417" name="get-App-Usage-flow" />
				<ee:transform doc:name="Enriched App Details" doc:id="decb7499-32c0-4734-a817-53ea3c69c8c4">
					<ee:message>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="updatedAppDetails"><![CDATA[%dw 2.0
output application/json
---
vars.appDetails map (item, index) -> ( 
{
    "applicationName": item.applicationName,
    "memory": item.memory,
    "cpu": item.cpu,
    "noofworkers" : item.noofworkers,
    "remainingOrgWorkers" : item.remainingOrgWorkers,
    "muleVersion": item.muleVersion,
    "region" : item.region,
    "staticIPsEnabled": item.staticIPsEnabled,
    "lastUsed": if(vars.usageDetails[?((item.applicationName) == $.name )].lastAccess[0] != null) vars.usageDetails[?((item.applicationName) == $.name )].lastAccess[0] else ""
        })]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</when>
		</choice>
		<ee:transform doc:name="final Transformation before parse to html" doc:id="8e98b3a4-27e0-4234-b267-cecad3f1b865">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json skipNullOn="everywhere"
---
{
	env: vars.environments,
	bg: vars.vCoreDetails,
	appDetails: vars.updatedAppDetails,
	previous: {
		fEnv: vars."_environment",
		fBG: vars."_BG"
	}
}]]></ee:set-payload>
					</ee:message>
			<ee:variables />
				</ee:transform>
		<parse-template doc:name="Parse Template" doc:id="9eb12fd8-d5ff-4462-a078-3ca3a955d11f" location="view/updateme.html" />
	</flow>
	<flow name="get-App-Usage-flow" doc:id="49e83e1b-6c70-4f68-805b-74e611762809" >
		<parallel-foreach doc:name="Parallel For Each" doc:id="fef97bfc-f73d-4270-9ba9-c006aeef4aee" collection="#[vars.appDetails]">
			<try doc:name="Try" doc:id="632a22b3-21c3-4c09-9a90-33dd57204894">
						<http:request method="GET" doc:name="Sync_Request" doc:id="18cc60b6-13b4-49a2-b020-dc94c6271b9b" config-ref="Anypoint_HTTP_Request_configuration" path="/monitoring/api/sync" target="proxyDetails">
			<http:headers><![CDATA[#[output application/java
---
{
	"Authorization" :  vars.AuthorizationToken
}]]]></http:headers>
		</http:request>
				<ee:transform doc:name="set path" doc:id="82189404-6a8b-484f-b7e5-9f5b0f1d30fd">
							<ee:message>
							</ee:message>
							<ee:variables>
								<ee:set-variable variableName="path"><![CDATA[%dw 2.0
output application/java
---
"/monitoring/api/visualizer/api/datasources/proxy/" ++ (vars.proxyDetails.proxies[?($.name == 'influxdb')])[0].id  ++ "/query?db=%22dias%22&q=SELECT%20sum(%22messageCount%22)%20FROM%20%22app_stats%22%20WHERE%20(%22org_id%22%20%3D%20%27" ++ vars.currentValues.orgId ++ "%27%20AND%20%22env_id%22%20%3D%20%27" ++ vars.currentValues.envId ++ "%27%20AND%20%22app_id%22%20%3D%20%27"++ payload.applicationName ++ "%27)%20AND%20time%20%3E%3D%20now()%20-%20365d%20GROUP%20BY%20time(30d)%2C%20%22app_id%22%20fill(none)&epoch=ms"]]></ee:set-variable>
							</ee:variables>
						</ee:transform>
						<http:request method="GET" doc:name="Request" doc:id="1f4f75ac-5478-45ec-b06d-355683789ada" config-ref="Anypoint_HTTP_Request_configuration" path="#[vars.path]" responseTimeout="120000">
				<http:headers><![CDATA[#[output application/java
---
{
	Authorization :  vars.AuthorizationToken
}]]]></http:headers>
			</http:request>
						<logger level="INFO" doc:name="Logger" doc:id="15db7696-390f-469c-8c73-6262ebea2655" />
						<error-handler>
							<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="b9a9a43a-518a-4490-aaaa-59891f4499a2" type="ANY">
								<logger level="INFO" doc:name="Logger" doc:id="b652702a-1f5d-42af-8daf-327261e5f168" message="Error getting API last access" />
							</on-error-continue>
						</error-handler>
					</try>
		</parallel-foreach>
		<ee:transform doc:name="Collect the parallel foreach results" doc:id="1df01db5-6b78-4f28-8382-86cd6cb9bb65">
						<ee:message />
						<ee:variables>
						<ee:set-variable variableName="usageDetails"><![CDATA[%dw 2.0
output application/json
---
payload.payload.*results map(m1, sIndex)->( {
     (m1.series map(app, aIndex)-> (
        {
            "name": app.tags.app_id[0],
            "lastAccess": (app.values[0][0][0]/1000) as DateTime as String {format: "yyyy-MM-dd HH:mm:ss.SSS"} ++ "=>" ++ (app.values[0][0][1]) 
        }
    ))
})]]></ee:set-variable>
						</ee:variables>
					</ee:transform>
	</flow>
		</mule>
